<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combat Misinformation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <img src="/static/images/logo.png" alt="Veracity Determiner Logo" class="logo-image">
        <span class="cool-title">Truth Trackr</span>
    </div>
    <div class="sidebar" id="sidebar" style="width: 200px;">
        <a href="about" style="color: white;">About Truth Trackr</a>
        <a href="report" style="color: white;">Report Misinformation Online</a>
        <a href="drag-drop" style="color: white;">Put your Misinformation-Checking Skills to the Test!</a>
        <a href="faq" style="color: white;">Frequently Asked Questions</a>
    </div>
    <a href="/" style="color: white;" class="home-button">Home</a>
    <div class="center-content">
        <header style="color: black">
            <h1>Connecting the World to Combat Misinformation</h1>
        </header>
        <div style="color: black" class="info-text">
            <p>
                Inaccurate information spreads widely and at speed, making it more difficult for the public to identify verified facts and advice from trusted sources.
            </p>
            <p>
                However, everyone can help to stop the spread. If you see content online that you believe to be false or misleading, you can report it to the hosting social media platform.
            </p>
        </div>
        <section style="color: black" id="section1">
            <h2>How to Report Misinformation Online</h2>
        
            <!-- Sections for reporting on various social networks -->
            <div class="social-network">
                <img class="social-logo" src="static/images/youtube-logo.png" alt="YouTube Logo">
                <a href="https://support.google.com/youtube/answer/2802027" target="_blank" style="color: black;">Report Misinformation on YouTube</a>
            </div>
            <div class="social-network">
                <img class="social-logo" src="static/images/instagram-logo.png" alt="Instagram Logo">
                <a href="https://help.instagram.com/1735798276553028" target="_blank" style="color: black;">Report Misinformation on Instagram</a>
            </div>
            <div class="social-network">
                <img class="social-logo" src="static/images/whatsapp-logo.png" alt="WhatsApp Logo">
                <a href="https://faq.whatsapp.com/1313491802751163/?locale=en_US" target="_blank" style="color: black;">Report Misinformation on WhatsApp</a>
            </div>
            <div class="social-network">
                <img class="social-logo" src="static/images/facebook-logo.png" alt="Facebook Logo">
                <a href="https://www.facebook.com/help/572838089565953?helpref=search&sr=2&query=reporting%20false%20claims&search_session_id=f886d969d0ffdf65b717d0567986859f" target="_blank" style="color: black;">Report Misinformation on Facebook</a>
            </div>
            <div class="social-network">
                <img class="social-logo" src="static/images/tiktok-logo.png" alt="TikTok Logo">
                <a href="https://support.tiktok.com/en" target="_blank" style="color: black;">Report Misinformation on TikTok</a>
            </div>
            <div class="social-network">
                <img class="social-logo" src="static/images/twitter-logo.png" alt="Twitter Logo">
                <a href="https://help.twitter.com/en/safety-and-security/report-a-post" target="_blank" style="color: black;">Report Misinformation on X</a>
            </div>
        </section>
    </div>
</body>
</html>
